*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: cursive;
    font-size: 35px;
    font-weight: bold;
    margin-left: 200px;
}
.p1{
    margin-left: 200px;
    padding-top: 20px;
}
#b1{
    height: 35px;
    width: 110px;
    margin-left: 200px;
    margin-top: 40px;
    font-weight: bold;
    border: none;
    
    
   
}
.active{
    background-color: green;
    color: white;
   
}
#b1:hover{
    background-color: bisque;
    color: black;
    border: 2px solid black;
}
#b2{
    height: 35px;
    width: 110px;
    font-weight: bold;
    margin-top: 40px;
    border: none;
   
}
#b2:hover{
    background-color: green;
    color: white;
    border: 1px solid black;
}